/* 这些是通用样式 */
* {
	margin: 0;
	padding: 0;
}
ul{
	list-style: none;
}
.fl{
	float: left;
}
.fr{
	float: right;
}


/* 这最上面导航的样式 */
nav {
	width: 100%;
	height: 100px;
	background: skyblue;
}
/* 这里的样式是LOGO */
.logo-warp {
	width: 250px;
	height: 90px;
	margin-left: 15%;
	padding-top: 10px;
}
.logo-warp .logo-img {
	margin-top: 10px;
	margin-right: 18px;
	width: 56px;
	height: 56px;
	background: url(../imgs/cartoon.jpg);
	background-size: 100%;
	border-radius: 25%;
}
.logo-text h3{
	color: #FFFFFF;
	font-size: 34px;
}
.logo-text p {
	color: #FFFFFF;
}

/* 这是导航区的样式 */
.nav {
	width: 21%;
	height: 100px;
	margin-left: 50px;
}
.nav ul li {
	margin: 18px 20px;
	font-size: 16px;
	color: #FFFFFF;
}

/* 这是名片区的样式 */
.card {
	width: 316px;
	height: 100px;
	margin-right: 15%;
	line-height: 100px;
	color: #FFFFFF;
	font-size: 22px;
}





.yifu {
	width: 100%;
	height: 600px;
	background: #007DDC;
}
.yejiao {
	width: 100%;
	height: 200px;
	background: pink;
}