/* 这些是通用样式 */
* {
	margin: 0;
	padding: 0;
}
ul{
	list-style: none;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
html,body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

/* 这最上面导航的样式 */
nav {
	width: 100%;
	height: 100px;
	background: none;
	position: fixed;
	z-index: 10;
}
/* 这里的样式是LOGO */
.logo-warp {
	width: 250px;
	height: 90px;
	margin-left: 15%;
	padding-top: 10px;
}
/* .logo-warp .logo-img {
	margin-top: 10px;
	margin-right: 18px;
	width: 58px;
	height: 58px;
	background: url(../imgs/cartoon.jpg);
	background-size: 100%;
	border-radius: 25%;
} */
.logo-text h3{
	color: #fff;
	font-size: 34px;
}
.logo-text p {
	color: #fff;
}

/* 这是导航区的样式 */
.nav {
	width: 21%;
	height: 100px;
	margin-left: 50px;
}
.nav ul li {
	margin: 18px 20px;
	font-size: 16px;
	color: #fff;
}

/* 这是名片区的样式 */
.card {
	width: 30px;
/* 	height: 100px; */
/* 	margin-right: 15%; */
	line-height: 30px;
	color: #fff;
	font-size: 16px;
	position: fixed;
	z-index: 10;
	top: 20%;
	right: 10%;
}


/* 这里是海报区样式 */
.content {
	width: 100%;
	height: 100%;
	background: #007DDC;
	position: relative;
	overflow: hidden;
	animation: bcolor 240s linear infinite;
}
#box {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%,-50%);
}
#warp {
	position: absolute;
	width: 20%;
	height: 20vw;
	animation: brotate 240s linear infinite;
}
#box #warp:nth-child(1){
	top: 25%;
	left: 25%;
}
#box #warp:nth-child(2){
	top: 25%;
	left: 30%;
}
#box #warp:nth-child(3){
	top: 25%;
	left: 35%;
}
#warp div {
	width: 100%;
	height: 100%;
	position: absolute;
	box-sizing: border-box;
}
#warp div:nth-child(3){
	border: 2px solid #fff;
}

#warp div:nth-child(1){
	width: 800%;
	top: -297%;
	left: -717%;
	transform: rotate(45deg);
	border-top: 2px solid #fff;
}
#warp div:nth-child(2){
	width: 800%;
	top: -297%;
	left: 18%;
	transform: rotate(-45deg);
	border-top: 2px solid #fff;
}
#warp div:nth-child(4){
	width: 800%;
	top: 367%;
	left: -53%;
	transform: rotate(45deg);
	border-top: 2px solid #fff;
}
#warp div:nth-child(5){
	width: 800%;
	top: 367%;
	left: -647%;
	transform: rotate(-45deg);
	border-top: 2px solid #fff;
}
@keyframes brotate{
	from{transform: rotate(45deg);}
	to{transform: rotate(405deg);}
}
@keyframes bcolor{
	0%,100% {background: #2c3e50;}
	33% {background: #16a085;}
	66% {background: #27ae60;}
}

.yejiao {
	width: 100%;
	height: 200px;
	background: pink;
}