* {
	margin: 0;
	padding: 0;
}

nav {
	width: 100%;
	height: 100px;
	background: skyblue;
}

.fl{
	float: left;
}
.fr{
	float: right;
}
/* 这里的样式是LOGO */
.logo-warp {
	width: 250px;
	height: 90px;
	margin-left: 15%;
	padding-top: 10px;
}
.logo-warp .logo-img {
	margin-top: 10px;
	margin-right: 18px;
	width: 58px;
	height: 58px;
	background: url(../imgs/cartoon.jpg);
	background-size: 100%;
	border-radius: 25%;
}
.logo-text h3{
	color: #FFFFFF;
	font-size: 34px;
}
.logo-text p {
	color: #FFFFFF;
}




.yifu {
	width: 100%;
	height: 600px;
	background: #007DDC;
}
.yejiao {
	width: 100%;
	height: 200px;
	background: pink;
}